.App{
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1.5px solid rgb(255, 249, 249);
  height: 720px;
  background-color: #FFF;
  border-radius: 5px;
  height: auto;
  flex-wrap: wrap;
  overflow-x: scroll;
}